
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/dashboard.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #333;
}

.navbar {
    
        background-color: #cbdbd5;
        color: #0a0a0a;
        padding: 15px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2em;
    
}

.navbar a {
    color: #151414;
    text-decoration: none;
    margin-left: 15px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(47, 33, 33, 0.8);
    padding: 30px;
}

/* Admin Login Form */
.admin-form {
    width: 400px;
    padding: 25px;
    background-color: rgba(244, 240, 240, 0.9);
    border-radius: 5px;
    text-align: center;
}

.admin-form h2 {
    margin-bottom: 20px;
    color: #100f0f;
}

.admin-form input[type="text"],
.admin-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.admin-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.admin-form button:hover {
    background-color: #0056b3;
}

.admin-form a {
    color: #007bff;
    text-decoration: none;
}

.admin-form a:hover {
    text-decoration: underline;
    color: red;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-bottom: 15px;
}


footer {
    text-align: center;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}