
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
    color: #333;
}


.navbar {
    
    background-color: #cbdbd5;
    color: #0a0a0a;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;

}

.navbar a {
color: #151414;
text-decoration: none;
margin-left: 15px;
}
        .container {
            max-width: 900px;
            margin: 20px auto;
            padding: 20px;
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
            color: #333;
        }
        .book-list {
            list-style: none;
            padding: 0;
        }
        .book-item {
            padding: 10px;
            border: 1px solid #ddd;
            margin-bottom: 10px;
            border-radius: 4px;
            background: #fdfdfd;
        }
        .book-item:hover {
            background-color: #f1f1f1;
        }
        .book-title {
            font-weight: bold;
            font-size: 18px;
            color: #333;
        }
        .book-details {
            font-size: 14px;
            color: #555;
        }
     
        footer {
            text-align: center;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
  
